.login-container {
    height: 100vh;
}

.login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 125px;
}

.logcontainer>input {
    display: flex;
    justify-content: center;
    height: 35px;
    width: 100%;
    border-color: black;
}
.login-text {
    align-items: center;
    justify-content: center;
    display: flex;
    text-decoration: none;
    
}

.loginheader {
    display: flex;
    text-align: center;
    font-size: 300%;
}

.logininfo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.logininfo input, button {
    width: 75px;
    border: 1px solid black;
}
