.registerdiv {
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.registerheader {
    display: flex;
    text-align: center;
    font-size: 300%;
}
.register-text {
    text-decoration: none;
}
.register-btn {
    display: flex;
}
.registerinput {
    display: flex;
    justify-content: center;
    height: 35px;
    width: 100%;
    border-color: black;
}